<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
1.개발환경 셋팅과 Vue 3버전 설치 (자주겪는 에러 포함)


노드Js 설치
npm 왜 설치??  노드 js 설치하면 npm 쓸수 있음  npm은 각종 웹개발  라이브러리 설치 도우미

vue 설치 vue/cli 뷰 설치 도와주는 프로그램  (한큐에 뷰 만들기 쉽게)

npm install -g @vue/cli

npm install -g @vue/cli@4.5.11


1.
vue create 프로젝트명

설치2
vue init webpack my-project


npm run serve  페이지 미리보기

node_modules : 프로젝트에 쓰는 라이브러리들
src : 소스코드 다 담는곳
public  : html 파일 , 기타파일 보관
package.json  라이브러지 버전,프로젝트 설정 기록



----------------------------------------------------
3.HTML에 데이터 꽂아넣는 Vue 데이터바인딩 문법



데이터 보관함
data(){
return{}
},

데이터는 object 자료로 저장해두셈
{자료이름 : 자료내용 }

vue 실시간 자동 데이터 렌더링


텍스트 바인딩  <p>{{price2}}만원</p>
html 속성 바인딩  <h4 :style="style">XX 원룸</h4>

----------------------------------------------------
4.리액트보다 100배 쉬운 Vue 반복문 v-for

vue 반복문 array/object 집어넣기 가능
-그럼 자료안의 데이터 갯수만큼 반복됨

<a href="#" v-for="val in 3" :key="val"> home </a> 같은 반복

<a href="#" v-for> {{i}} </a> array 받아서 반복

<a href="#" v-for="(a,i) in menus" :key="i"> {{a}} {{i}} </a> array 받아서 문자 숫자 2개 받음


<div v-for="(k,i) in products" :key="i"> 숫자 받으려면 key 값에 i
  <h4 :style="스타일">{{k}}원룸</h4>
  <p>{{prices[i]}}만원</p>
</div>

--------------------------------------------------------
5.Vue 이벤트 핸들러로 click 감지하기 (허위매물 신고버튼 만들기)

이벤트 핸들러


<button v-on:click="자바스크립트 작성 할것">허위매물 신고</button> <span> 신고수 : 0 </span>
또는
<button @:click="자바스크립트 작성 할것">허위매물 신고</button> <span> 신고수 : 0 </span>

mouserover
blur
change
@input 글자 입력할때
등


6. v-if 와 모달창 만들기 (Vue에서 동적인 UI 만드는 법)

<img src="">

--UI 현재 상태를 저장
--데이터에 따라 UI가 어떻게 보일지 작성

v-if="val==1" 조건식이 참일때
@click="modals= true"





7.실제 데이터를 박아넣어 상품목록을 만들자 (import / export)


import  datas from './assets/oneroom.js';


(oneroom.js)
export default 위에있던원룸데이터

(App.vue)
import data from './oneroom.js파일경로'

data(){
return {
lists : data
}
}


html 태그안의 속성 데이터바인딩은  ex) :src="{{lists[0].image}}"
<div>
  <img :src="{{lists[0].image}}">
  <h4>{{lists[0].title}}</h4>
  <p>{{lists[0].price}}</p>
</div>



8.모달창 내에 상세페이지 만들기



<div v-for="(a, i) in 원룸들" :key="i">
  <img :src="a.image" class="room-img">
  <h4 @click="모달창열렸니 = true; 누른거 = i">{{a.title}}</h4>
  <p>{{a.price}}</p>
</div>

v-else 라는 문법도 있습니다



v-if=”” 는 조건식이 참일 경우에만 특정 HTML을 보여줄 수 있다고 했습니다.

근데 v-else 이런 것도 있습니다.

<div v-if="1 == 2">
  안녕하세요
</div>
<div v-else-if>
  안녕하세요2
</div>
<div v-else>
  안녕하세요2
</div>


조건에 따라서 이거 혹은 저거를 보여주고 싶을 때 사용합니다.


9.HTML 복잡해보이면 컴포넌트 Component 만들어 쓰셈

1.vue 파일 improt
2.등록하고  components : {}
3.쓰자


import Discount from './Discount.vue 경로'

export default {
data() {

},
components : {
Discount,
}
}

10.부모가 가진 데이터를 자식이쓰고 싶으면 props로 전해주셈

- 데이터 전송하고 -> 등록하고      (  :  -> v-bind  :style :class  html 속성일때  : 씀)
(App.vue)
<Modal :send_data="send_data" />
① 이렇게 데이터바인딩 문법쓰시면 데이터를 <Modal>로 보낼 수 있습니다.

  (Modal.vue)
  <script>
    export default {
      name : 'Modal',
      props : {
        send_data : Array,
      }
    }
  </script>

  자식 컴포넌트에서는  props 가져온거 read-only (데이터 수정 안됨)  props 에서는 제할당이 안됨


  11.props 나머지 내용 조금 & 저번시간 숙제


  props 보내는 여러가지 방법



  <Discount :데이터이름="[1,2,3]" />
  <Discount :데이터이름="{ age:20 }" />
  <Discount :데이터이름="100" />
  <Discount 데이터이름="안녕하쇼" />
  <Discount v-bind="오브제특명" />
  각각 array, object, 숫자, 문자보내기입니다.

  콜론을 안붙이면 문자로 전달됩니다.




  <template>
    <div>
      <img :src="원룸.image" class="room-img">
      <h4> {{원룸.title}} </h4>
      <p>{{원룸.price}} 원</p>
    </div>
  </template>


  <script>
    export default {
      props : {
        원룸 : Object
      }
    }
  </script>





  12.자식이 부모데이터 바꾸고 싶으면 custom event 로 메세지만 주십쇼
  부모 데이터 수정하고 싶을때
  메시지로 보낸다

  $emit()  -> 부모힌테 이벤트 보낸다

  @click="$emit('작명','데이터')">  $ vue에 내장된 이벤트

  자식에서 @click="$emit('openModal',onerooms.id)"  보내면


  @openModal="modals = true;  ck = $event"
  앞에는 이벤트 처리 뒤에는 값 받은거

  부모에서 <Card @openModal="modals = true;  ck = $event" :onerooms="lists[i]"  v-for="(k,i) in lists" :key="i"></Card>수신 코드 받는다.


  $emit()를 함수안에서 하고 싶으면

  methods : {
  fn_p(){
  this.$emit('openModal',this.onerooms.id)
  }
  }



  12.사용자의 INPUt 얻는 법


  @input=""  //input 입력할때 마다 실행해주세요
  @change=""  // input 입력하고 커서 다른데 찍으면 실행


  @input="$event"  함수안에  자바스크립트 e

  $event.target.value input 값



  v-model
  <input type="text" name="month"  @input="month = $event.target.value">개월  //$event.target 는 요소
  위의 축약 버전이 v-model  <input type="text" name="month"  v-model="month">


  <input type="text" name="month"  v-model="month">개월


  v-model="month.number"

  숫자로 하고 싶으면 .number 로 할것




  12.watcher data 감시하는 함수
  데이터 감시하려면 watch : { 감시할데이터(){}}  =?data(){} 안에 state 감시
  함수명을 같이 하면 month 를 감시하는 함수가 된다.
  month 가 변화할때 마다  코드가 계속 실행됨


  파라미터 2개 까지 할수 있다.
  앞에는 변경후 데이터 , 뒤에는 변경전 데이터
  watch :{
  month(a){
  if(a > 13){
  alert('13이상 입력하지마세요.');
  return false;
  }
  }


  vue 전용 form  validation 라이브러리 사횽해도 좋다.


  13.Vue에서 매끈한 UI 애니메이션 주는 법 2개

  CSS 애니메이션 주려면
  시작전 class  끝난후 class 그리고 원할때 class
  class 명을 조건부로 넣으려면 (클래스명 :조건}


  <div class="start" :class="{end: modals}"> 모달창 열렸니 true 면 열리고
    <Modal @closeModal="modals = false" v-bind:lists="lists" :modals="modals" :ck="ck"></Modal>
  </div>


  vue에는 transition  위 코드 대신



  <transition name="fade">
    <Modal @closeModal="modals = false" v-bind:lists="lists" :modals="modals" :ck="ck"></Modal>
  </transition>

  .fade-enter-from{
  transform: translateY(-1000px);
  opacity: 0;

  }  /*시작 스타일*/
  .fade-enter-active{
  transition:  all 1s ;
  }
  .fade-enter-to{
  opacity: 1;
  transform: translateY(0);
  }


  .fade-leave-from{
  opacity: 1;
  }  /*시작 스타일*/
  .fade-leave-active{
  transition:  all 1s ;
  }
  .fade-leave-to{
  opacity: 0;
  }



  15.sort  상품정렬기능과 데이터 원본 보존

  자바스크립트 sort 쓰면 정렬 됨
  var array = [2,5,1];
  array.sort();
  이렇게 쓰면 array 자료가 가나다 순으로 정렬됩니다.


  숫자정렬은 아래와 같이

  var array = [2,5,1];
  array.sort(function(a,b){
  return a - b
  });


  sor() 하면 원본이 변형됨
  map() filter() 등은 원본을 보존해줌

  lists : [...data] ,  데이터 카피 해주세요.  array/object 데이터의 각각 별개의 사본을 만들려면  [...array 자료]  그런 문법
  oglists: data,


  resetSort(){
  this.lists = [...this.oglists];
  }



  /*
  그래서 값공유가 일어나지않게 독립적인 array 복사본을 만들고 싶으면

  var a = [1,2,3];
  var b = [...a];
  이렇게 하시면 됩니다.



  . . . 이 기호는 spread operator 라는 신기한 문법인데

  array나 object 앞에 붙일 수 있으며

  array, object의 괄호를 제거해주는 문법입니다.

  그래서 . . . [1,2,3] 이런 식으로 쓰면 1,2,3만 남는다는 소리입니다.

  */

  16.Vue의 라이프사이클을 어디다 쓰냐면

  https://online.codingapple.com/course-status/

  beforeCreate()
  created()  //html 데이터 가져오기 흔히들 작성
  beforeMount()
  mounted() //html 데이터 가져오기 흔히들 작성
  beforeUpdate()
  updated()
  beforeUnmount()
  unmounted()



  mounted() {
  //showDiscount = fale;


  setTimeout(()=>{
  ///자바스크립트 2초 후에 실행
  this.showDiscount = false;
  },2000);

  },



  beforeUpdate(){
  if (this.month == 2){
  alert('2개월은 너무 적음.. 안팝니다')



  }

  this. 넣어서 값 가져올때  ()=> 으로 쓸것







  제2강

  부트스트랩 5버전 설치

  npm install bootstrap@next @popperjs/core

  부트스트랩 4버전 설치

  npm install bootstrap jquery popper.js



  3. vue-router 설치와 기본 라우팅

  npm install vue-router@4

  main.js 에 설정
  import routers from './router.js'

  createApp(App).use(routers).mount('#app')



  router.js 코딩 및 설정

  import { createWebHistory, createRouter } from "vue-router";
  import List from './components/List';
  const routes = [
  {
  path: "/list/:id",  //번 게시물 보여주기  파라미터 문법
  component: List,
  },
  {
  path: "/home",
  component: Home,
  },
  {
  path: "/detail",
  component: Detail,
  },

  ];

  const router = createRouter({
  history: createWebHistory(),
  routes,
  });

  export default router;




  main.js  router 설정
  import routers from './router.js'
  createApp(App).use(routers).mount('#app')



  페이지 라우팅 보여주고 싶으면
  <router-view :bloglist="bloglist"></router-view>
  <!--  <List :bloglist="bloglist"></List>-->

  라우트 링크 만들기
  <router-link to="/list">이동하기</router-link>



  4.상세페이지 200만개 만들기 (URL 파라미터)

  router  등록  :  상세페이지 이동 -> path: "/detail/:id/:id2",




  url 정보  :  $route

  파라미터 정보  :  $route.params

  파라미터 아이디  :  $route.params.id

  파라미터 숫자만 입력 정규식  path: "/detail/:id(\\d+)",

  파라미터 업그레이드 기능 소괄호 안에 정규식 입력가능
  * 입력하면 반복
  필요하면 vue-router 4 참고

  https://next.router.vuejs.org/




  5.심심할까봐 소개하는 Nested routes & push 함수


  Nested routes & push 함수  디테일 페이지 안에서 다시 페이지 쪼개기

  detail/0/author로 접속하면

  detail 페이지 내에 작가소개란을 보여주고

  /detail/0/comment로 접속하면

  detail 페이지 내에 댓글란을 보여주도록 합시다.

  detail.vue 에 추가
  <router-view></router-view>

  {
  path: "/detail/:id",
  component: Detail,
  children:[
  {
  path: "author",
  component: Author,
  },
  {
  path: "comment",
  component: Comment,
  },

  ]
  },


  https://next.router.vuejs.org/guide/essentials/named-views.html#nested-named-views
  여러개 라우터 보여주고 싶으면


  <div>
    <h1>User Settings</h1>
    <NavBar />
    <router-view />
    <router-view name="helper" />
  </div>
  Then you can achieve the layout above with this route configuration:

  {
  path: '/settings',
  // You could also have named views at the top
  component: UserSettings,
  children: [{
  path: 'emails',
  component: UserEmailsSubscriptions
  }, {
  path: 'profile',
  components: {
  default: UserProfile,
  helper: UserProfilePreview
  }
  }]
  }








  list 페이지 : <h5 @click="$router.push('/detail/'+ bloglist[i].number)">{{bloglist[i].number}} {{bloglist[i].title}} </h5>

  $router.push()  페이지 이동함수
  $router.go(-1) 뒤로가기






  특정 페이지 내에서 또 라우트를 나누는 경우인데 이걸 nested routes라고 합니다.

  UI만드는 법으로 모달창식으로 만들어도 똑같이 구현가능하긴 한데

  저렇게 다른 URL로 나눠두면 장점이 뭐겠습니까.

  뒤로가기 앞으로가기 버튼이 동작함 ㄷㄷ


  경로  $router.push('/detail/')
  $router.go(-1)


  라우터에서 리다이렉트

  const routes = [{ path: '/home', redirect: { name: 'homepage' } }]








  제3강 Vue 스타

  props 로 하위 하위 전송

  이미지 바인딩 하기
  <div class="post-body" :style="{backgroundImage : `url(${row.postImage})`}" ></div>
  <div class="post-body" :style="{backgroundImage : 'url(' + row.postImage + ')'}" ></div>


  2.style 속성 데이터 바인딩
  <div :style="{ fontSize : '20px', marginTop : '10px' }">
    <div :style="{ color : 'red' }">



      3.서버로 ajax 요청하는 더보기 버튼 만들기


      axios 설치
      npm install axios



      import axios from 'axios';


      more(){
      axios.get('https://codingapple1.github.io/vue/more1.json')
      .then((result)=>{  //  function (result)  =  (result)=>
      //요청성공시 실행할 코드
      this.DataList.push(result.data);  // push() array에 데이터 추가해주세요 문법 임
      }
      );
      }



      axios.get('서버URL').then( 결과 => {
      GET요청 성공시 실행할 코드~~
      }).catch( ()=>{
      실패시 실행할 코드
      })



      post 전달
      axios.post('url 주소' ,{ name : '이창현' }).then().catch();




      4.탭 만들기 & 탭으로 사진 업로드 페이지 만들기

      Ui 만들기
      상태 기록 하고

      v-if 와 v-for 한곳에 몼슴


      5.서버없이 업로드한 이미지 다루기 (잡기술)

      upload(e){
      let files =  e.target.files;  //자바스크립트로 업로드한 파일 가져오기
      console.log(files);
      console.log(files[0].type);  // 파일 타입 알기
      let url = URL.createObjectURL(files[0]);
      this.image = url ;
      //브라우져 끄면 없어지는 URL

      console.log(url);
      this.page ++ ;
      }




      -  FileReader() 를 쓰면 이미지를 글자로 변환할 수 있고 (글자니까 어디 저장하고 넣을 수도 있고)

      --URL.createObjectURL() 을 쓰면 이미지 URL을 잠깐 만들어줍니다. (다만 새로고침하면 사라짐)

      가상으로 호스팅해준다고 생각해도 되겠습니다.

      그래서 2번을 사용해볼 겁니다.

      BLOB binary 데이터를 다룰때 Blob 이라는 objectd에 담아서 다룸



      //폼 유효성 검사
      https://romeoh.tistory.com/entry/vuejs-%ED%8F%BC-%EC%9C%A0%ED%9A%A8%EC%84%B1-%EA%B2%80%EC%82%AC


      6.글 발행기능 만들기 (이쯤 되면 혼자서도 잘함)

      publish(){
      if(!this.write_content){
      alert('내용을 입력해주세요!');
      return false;
      }
      var addlist = {
      name: "Kim Hyun",
      userImage: "https://placeimg.com/100/100/arch",
      postImage: this.image,
      likes: 0,
      date: "May 31",
      liked: false,
      content: this.write_content,
      filter: this.css_filter ,
      };
      this.DataList.unshift(addlist);  // 왼쪽으 array에 자료 집어 넣어줌
      this.page = 0 ;
      },



      7.업로드한 이미지 인스타그램 필터 기능 만들기 (잡기술)
      CSS 그램

      html 바인딩 할때 slot Tma


      props말고 자식컴포넡트로 보내는것
      slot으로 부모 -> 자식데이터 전송법
      1.자식은 구멍뚫기 <slot></slot>
      2.컴포넌트 태그 사이에 데이터 넣기

      1. 자식컴포넌트는

      <slot name="a"></slot>
      이렇게 name을 설정 가능합니다.

      2. 그러면 부모는

      <자식컴포넌트>
        <template v-slot:a>데이터</template>
      </자식컴포넌트>



      여러개 쓰려면

      <slot name="a"></slot>
      <slot name="b"></slot>


      slot props
      slot 사용할때 부모가 자식데이터 필요한 경우

      자식 <slot :msg="msg"></slot>
      부모 <template v-slot:default="data"> {{data.msg}}</template>



      8.멀리 있는 컴포넌트 데이터 전송할땐 mitt *******************

      npm install mitt


      //          ./ 안하면 라이브러리 import 문법
      import mitt from 'mitt'

      main.js
      let emitter = mitt();
      let app = createApp(App);
      app.config.globalProperties.emitter = emitter;  // 글로벌한 변수 보관함  -> 컴포넌트 등록
      axios 도 모든 컴포넌트 쓰려면 등록 하면 됨 같음


      mitt 데이터 전송하는 법
      1.this.emitter.emit() 발사
      2. this.emitter.on() 수신하면 됩니다.
      mounted() {
      }, 안에 수신


      mitt 사용법


      데이터 보내고 싶은 곳에서

      this.emitter.emit('이벤트명작명', '데이터')
      이러면 전송가능합니다.

      데이터 수신하고 싶은 곳에서

      this.emitter.on('이벤트명작명', (a)=>{
      데이터수신시 실행할 코드
      a는 출력해보면 데이터나옴
      })
      이러면 수신가능합니다.

      보통 수신하는 코드는 mounted() 안에 적습니다.

      뭔가 자바스크립트 이벤트 리스너랑 사용법이 비슷합니다.





      ex)

      이벤트 발사

      ,methods :{
      fire(filter){
      this.emitter.emit('send_data',filter);
      }
      }



      이벤트 수신

      mounted() {
      this.emitter.on('send_data',(a)=>{
      //작명 이벤트 받으면 이벤트 실해주세요 문법
      console.log(a);
      this.css_filter = a ;

      });





      9. Vuex  : 사용하는 이유  $store



      대체품 vuex  (모든 컴포넌트들이 데이터 공유)

      npm install vuex@next 설치

      store.js 파일 만들어 예제 코드 복사


      <h1>안녕 {{$store.state.name}}</h1> 파일 갖다 쓰기
      <button @click="$store.state.name='박우철'"></button> 변수 변경

      컴포넌트 안에서 직접 수정하기 금지는 규칙중 하나
      1.store.js 에 수정방법을 정의해두고
      2.그방법을 컴포넌트에서 소환해서 수정해야함.

      vuex 이벤트 실행시 store.js 에 수정해달라고 요청 해야함.
      1.store.js에 state수정방법 정의
      2.수정하고 싶으면 store.js에 부탁

      10.Vuex 2 : store에 있는 state 데이터 바꾸는 법



      @click="$store.commit('name_change')"  store.js  함수 요청해서 변경

      <button @click="$store.commit('age_plus',10)">나이더하기</button> 데이터 실어서 보낼수 있음



      11. 1Vuex 3 : actions 항목을 알아보자
      모든 ajax 요청
      actions : {

      }

      actions 함수 요청시 사용
      <button @click="$store.dispatch('getData')">더보기 버튼</button>



      actions : {  // 더보기 기능개발 vue x 버전
      getData(store){  //store 대신 context 로 작명함  commit 위해 넣어줌
      axios.get('https://codingapple1.github.io/vue/more0.json')
      .then((result)=>{  //  function (result)  =  (result)=>
      //요청성공시 실행할 코드
      console.log(result.data);
      //this.DataList.push(result.data);
      store.commit('setMore',result.data); // 뮤테이션스 함수 호출
      });
      },
      }





      12.Vuex 4 : mapState를 사용하면 편리할 수도 있음


      함수만들 때 methods : {} 안에 만들라고 했는데

      실은 computed : {} 안에 만들 수도 있습니다.
      computed ()쓰면 안됨



      computed 함수와 / method 함수의 차이는
      첫번째는 로딩시 호출하고 저장됨
      두번째는 함수 계속 호출하고 내용 달라질수 잇음


      vuex store.js
      state 하나 꺼내쓸때도 computed  안에 사용하면 편리함


      computed 쓰면 state 꺼내는 코드 짧아짐



      맨날 $store.state.name 이렇게 하면 코드가 얼마나 길고 더러워지겠습니까.


      computed : {
      name(){
      return this.$store.state.name
      }
      }

      {{name}} vuex 간단히


      import {mapState} from 'vuex';
      import {mapMutations} from 'vuex';
      import {mapActions} from 'vuex' ;



      computed 함수안에는 리턴 값 넣어야함


      ...mapState(['age','likes']),
      ...mapState({change_age: 'age'}),  // 오브젝트 형




      메소드 안에 뮤테이션스, 액션스 함수 호출

      methods : {
      ...mapMutations(['age_plus','setMore']),
      ...mapActions(['getData']),
      }

      위 처럼 등록하고
      <button @click="age_plus(10)">나이더하기</button> 사용한다.

      <button @click="getData()">더보기 VUEX  버튼</button>



      ***********************
      13. PWA  Progressive Web App & 셋팅

      vue add pwa



      npm run build 하면

      dist 폴더 생성 되고 빌드됨
      mainifest.json  앱정보 담은 파일

      serviec-work.js
      실제 모바일앱은 인터넷 없어도 사용가능


      개발자도구에서 어플리케이션 들어가면

      mainifest serviec-work 에서 확인 가능함


      https://v3.vuejs.org/guide/mobile.html#introduction 에서 Apk 변환 설명 있음

      설정관련 vue.config.js 파일에서

      workboxOptions: {  // 제외 설정 파일
      exclude: [/\.map$/, /manifest\.json$/, 'index.html']
      }

      추가 설정은 workbox 라는 라이브러리 혹은 vue pwa



      14. vue 버그 툴 설치

      버그찾고 싶으면 Vue devtools 설치합니다


      (짧아서 글로 진행합니다)



      간혹 코드짜다보면 props를 분명 전해줬는데 에러나고 멈추고 하는 경우가 있습니다.

      그 경우 터미널이나 크롬 개발자도구 console 탭으로 들어가면 대부분의 에러는 해결가능한데

      조용하게 에러나는 경우도 많습니다.

      예를 들어 라우터 이런 것들은 뭔가 틀려도 에러로 알려주지 않습니다.

      그래서 크롬 확장프로그램 중에 Vue-devtools 라고 설치하시면 좀 더 자세히 버그나는 부분을 파악가능합니다.

      https://chrome.google.com/webstore/category/extensions 여기 들어가서 Vue.js devtools 라고 찾아서 설치합니다.


      크롬 브라우저 주소창의 오른쪽에 있는 더보기 아이콘을 클릭하여 도구 더보기 > 확장 프로그램을 선택합니다.

      해당 메뉴를 선택하면 chrome://extensions/페이지로 이동하여 설치된 플러그인의 목록을 보여줍니다. 표시된 목록에서 vue.js devtools를 찾아 세부정보를 클릭합니다.

      세부정보를 클릭하면 아래쪽에 “파일 URL에 대한 엑세스 허용”이라는 항목이 있습니다. 이 항목의 체크 박스에 체크를 하고 크롬을 다시 실행합니다.






      15.Composition API 사용법 (팔로워 페이지 만들기)  watch /  hook

      Options API 대 Composition API

      public 폴더안에는 build 안함

      Composition API 써서 개발하려면 setup() 안에 코드 짜삼

      setup 안에 methods,computed,watch,hook 만들수 잇고 걸수 있다.


      데이터는 ref()여기에 담고
      return {}  해줘야 사용가능


      let follower = ref(0);
      ref(0); ref([]);



      setup(){
      let follower = ref([]);

      onMounted(()=>{  // hook
      axios.get('./follower.json').then((result)=>{
      follower.value =  result.data
      });
      });

      axios.get('./follower.json').then((result)=>{
      follower.value =  result.data
      });
      return {follower}


      }

      *********************
      Composition API 사용법 2 & 간단한 검색기능

      ref를 쓰든 reactive를 쓰든 똑같은 역할을 하는데

      reactive는 object, array 같은 reference data type을 주로 담고

      ref는 숫자, 문자같은 primitive data type을 담게 되어있습니다.

      근데 실은 구분해서 쓰기 귀찮아서 전부 ref 씁니다.

      ref라는 함수 까보면 “그냥 reactive 해주세요~” 그거밖에 없습니다 둘다 똑같은 함수입니다.


      setup(props,context){  넣기


      포롭스 받아오기
      let { one,two } = toRefs(props);

      console.log(one.value);


      //////////////


      14 분
      Composition API 사용법 2 & 간단한 검색기능



      실은 ref 말고 reactive도 있습니다.



      데이터 만들 때 ref 쓰라고 했는데

      그거 말고 reactive라는 함수도 똑같이 사용가능합니다. (import 해와야함)



      import { ref, reactive } from 'vue'

      export default {
      setup(){
      let follower = ref([]);
      let test = reactive({name : 'kim'})

      return { follower }
      },
      }
      ref를 쓰든 reactive를 쓰든 똑같은 역할을 하는데

      reactive는 object, array 같은 reference data type을 주로 담고

      ref는 숫자, 문자같은 primitive data type을 담게 되어있습니다.

      근데 실은 구분해서 쓰기 귀찮아서 전부 ref 씁니다.

      ref라는 함수 까보면 “그냥 reactive 해주세요~” 그거밖에 없습니다 둘다 똑같은 함수입니다.




      props 사용법



      composition API를 써서 개발할 때 setup() 함수안에 코드짜면 된다고 했는데

      안타깝게도 setup() 함수 안에서는 위에 등록된 props를 this.props 이런 식으로 가져다쓸 수 없습니다.

      그래서 props 가져와서 뭔가 개발하고 싶을 땐 이렇게 쓰셔야합니다.





      import { ref, toRefs } from 'vue'

      export default {
      setup(props){
      let follower = ref([]);
      let { 프롭스명 } = toRefs(props)
      console.log(프롭스명.value)
      return { follower }
      },
      }
      setup() 함수 안에 파라미터를 두개까지 집어넣을 수 있는데

      첫째는 자동으로 props가 되고 둘째는 이상한 context라는게 됩니다. 둘째는 잘 안쓰니 한번 찾아보시고

      아무튼 첫째 파라미터를 출력해보면 props가 다 담겨있습니다.

      그걸 근데 그냥 쓰시면 안되고 ref 안에 담아 쓰셔야합니다.

      안담아쓰면 props가 바뀌어도 실시간 반영이 안됨





      근데 담아쓸 때는 toRefs라는걸 이용하는데 그냥 ref 여러번 해주는 함수입니다. (import 해와야함)

      그리고 등호 왼쪽에 {props이름, props이름2 ~~} 이런 식으로 잘 적어주면 됩니다.

      그럼 이제 props이름.value라고 찍으면 props 나옵니다. 이걸로 개발하시면 됩니다. 끝

      그리고 까먹었을까봐 다시 강조하는데 props는 자식컴포넌트가 수정하시면 안됩니다.



      //////////////////////


      watch(one,()=>{

      });


      let res =  computed(()=>{

      return follower.value.length ;
      });

      console.log(res.value);




      //vuex js 가져오기
      let stores = useStore();
      console.log(stores.state.name);
      이전글javascript21.06.22
      댓글 0
      등록된 댓글이 없습니다.
</body>
</html>
